<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hqu.production_ms.mapper.CarMoneyMapper" >
  <resultMap id="BaseResultMap" type="org.hqu.production_ms.domain.CarMoney" >
    <id column="money_id" property="moneyId" jdbcType="INTEGER" />
    <result column="carnum" property="carnum" jdbcType="VARCHAR" />
    <result column="datatime" property="datatime" jdbcType="DATE" />
    <result column="depatmentname" property="depatmentname" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="b1" property="b1" jdbcType="VARCHAR" />
    <result column="b2" property="b2" jdbcType="VARCHAR" />
     <result column="money1" property="money1" jdbcType="DECIMAL" />
     <result column="month1" property="month1" jdbcType="VARCHAR" />
  </resultMap>
  <select id="find" parameterType="carMoney" resultMap="BaseResultMap">
		select
			money_id,
			carnum,
			datatime,
			depatmentname,
			money,
			b1,
			b2
		from
			c_money
		order by 
			datatime desc
	</select>
	<select id="findtj" parameterType="string" resultMap="BaseResultMap">
		SELECT 
			carnum,
			SUM(money) AS money1,
			depatmentname 
		FROM 
			c_money
		WHERE 
			DATE_FORMAT(datatime,'%Y')=#{0}
		AND 
			DATE_FORMAT(datatime,'%c')=#{1}
		GROUP BY 
			carnum
	</select>
	<select id="findfx" parameterType="string" resultMap="BaseResultMap">
		SELECT month_id,mm1.month1,ifnull(mm2.money11,0) as money1 FROM c_month mm1 LEFT JOIN(
SELECT 
			carnum,
			SUM(money) AS money11,
			depatmentname,
			DATE_FORMAT(datatime,'%c') AS month1
		FROM 
			c_money
	
		WHERE 
			DATE_FORMAT(datatime,'%Y')=#{0}
		AND 
			(carnum='1000113700011589922' OR depatmentname='主卡')
		GROUP BY 
			DATE_FORMAT(datatime,'%c')) mm2 ON mm1.month1=mm2.month1
		ORDER BY mm1.month_id
	</select>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    money_id, carnum, datatime, depatmentname, money, b1, b2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.hqu.production_ms.domain.CarMoneyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from c_money
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from c_money
    where money_id = #{moneyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from c_money
    where money_id = #{moneyId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.hqu.production_ms.domain.CarMoneyExample" >
    delete from c_money
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.hqu.production_ms.domain.CarMoney" >
    insert into c_money (money_id, carnum, datatime, 
      depatmentname, money, b1, 
      b2)
    values (#{moneyId,jdbcType=INTEGER}, #{carnum,jdbcType=VARCHAR}, #{datatime,jdbcType=DATE}, 
      #{depatmentname,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL}, #{b1,jdbcType=VARCHAR}, 
      #{b2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.hqu.production_ms.domain.CarMoney" >
    insert into c_money
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="moneyId != null" >
        money_id,
      </if>
      <if test="carnum != null" >
        carnum,
      </if>
      <if test="datatime != null" >
        datatime,
      </if>
      <if test="depatmentname != null" >
        depatmentname,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="b1 != null" >
        b1,
      </if>
      <if test="b2 != null" >
        b2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="moneyId != null" >
        #{moneyId,jdbcType=INTEGER},
      </if>
      <if test="carnum != null" >
        #{carnum,jdbcType=VARCHAR},
      </if>
      <if test="datatime != null" >
        #{datatime,jdbcType=DATE},
      </if>
      <if test="depatmentname != null" >
        #{depatmentname,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="b1 != null" >
        #{b1,jdbcType=VARCHAR},
      </if>
      <if test="b2 != null" >
        #{b2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.hqu.production_ms.domain.CarMoneyExample" resultType="java.lang.Integer" >
    select count(*) from c_money
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update c_money
    <set >
      <if test="record.moneyId != null" >
        money_id = #{record.moneyId,jdbcType=INTEGER},
      </if>
      <if test="record.carnum != null" >
        carnum = #{record.carnum,jdbcType=VARCHAR},
      </if>
      <if test="record.datatime != null" >
        datatime = #{record.datatime,jdbcType=DATE},
      </if>
      <if test="record.depatmentname != null" >
        depatmentname = #{record.depatmentname,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null" >
        money = #{record.money,jdbcType=DECIMAL},
      </if>
      <if test="record.b1 != null" >
        b1 = #{record.b1,jdbcType=VARCHAR},
      </if>
      <if test="record.b2 != null" >
        b2 = #{record.b2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update c_money
    set money_id = #{record.moneyId,jdbcType=INTEGER},
      carnum = #{record.carnum,jdbcType=VARCHAR},
      datatime = #{record.datatime,jdbcType=DATE},
      depatmentname = #{record.depatmentname,jdbcType=VARCHAR},
      money = #{record.money,jdbcType=DECIMAL},
      b1 = #{record.b1,jdbcType=VARCHAR},
      b2 = #{record.b2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.hqu.production_ms.domain.CarMoney" >
    update c_money
    <set >
      <if test="carnum != null" >
        carnum = #{carnum,jdbcType=VARCHAR},
      </if>
      <if test="datatime != null" >
        datatime = #{datatime,jdbcType=DATE},
      </if>
      <if test="depatmentname != null" >
        depatmentname = #{depatmentname,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="b1 != null" >
        b1 = #{b1,jdbcType=VARCHAR},
      </if>
      <if test="b2 != null" >
        b2 = #{b2,jdbcType=VARCHAR},
      </if>
    </set>
    where money_id = #{moneyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.hqu.production_ms.domain.CarMoney" >
    update c_money
    set carnum = #{carnum,jdbcType=VARCHAR},
      datatime = #{datatime,jdbcType=DATE},
      depatmentname = #{depatmentname,jdbcType=VARCHAR},
      money = #{money,jdbcType=DECIMAL},
      b1 = #{b1,jdbcType=VARCHAR},
      b2 = #{b2,jdbcType=VARCHAR}
    where money_id = #{moneyId,jdbcType=INTEGER}
  </update>
</mapper>